body {
    background-image: url(violet.jpg);
}

div {
    width: 80%;
    background-color: violet;
    margin-right: auto;
    margin-left: auto;
    min-height: 500px;
}

h1 {
    text-align: center;
}