body {
    background-image: url(violet.jpg);
}

div {
    width: 80%;
    background-color: rgb(130, 137, 238);
    margin-right: auto;
    margin-left: auto;
    min-height: 500px;
}

h1 {
    text-align: center;
}

.herb {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linki {
    text-align: center;
}

.font {
    text-align: center;
}

.wciecie {
    text-align: justify;
    text-indent: 5px;
}

a:link, a:visited
{
    color: rgb(109, 26, 26);
    text-decoration: none;
}
    a:hover
{
    color: rebeccapurple;
    text-decoration: underline;
